# Backend (Spring Boot)
esp/target/
*.log

# Frontend ( React)
esp_web/node_modules/
esp_web/.angular/
esp_web/.cache/
esp_web/dist/
*.env

# OS / IDE
.DS_Store
*.iml
.idea/
.vscode/

# YoYo AI version control directory
.yoyo/
